@charset "UTF-8";

@font-face {
    font-family: 'DINPro-Regular';
    src: url('fonts/DINPro-Regular/DINPro-Regular.eot?') format('eot'),
    url('fonts/DINPro-Regular/DINPro-Regular.woff') format('woff'),
    url('fonts/DINPro-Regular/DINPro-Regular.ttf')  format('truetype'),
    url('fonts/DINPro-Regular/DINPro-Regular.svg#DINPro-Regular') format('svg');
}
@font-face {
    font-family: 'DINPro-Bold';
    src: url('fonts/DINPro-Bold/DINPro-Bold.eot?') format('eot'),
    url('fonts/DINPro-Bold/DINPro-Bold.woff') format('woff'),
    url('fonts/DINPro-Bold/DINPro-Bold.ttf')  format('truetype'),
    url('fonts/DINPro-Bold/DINPro-Bold.svg#DINPro-Bold') format('svg');
}

html,body{
	padding:0;
	margin:0;
	background:#666;
	width:100%;
	height:100%;
	min-height: 680px;
	position:relative;
}

h1{
    background: #999;
    width:100%;
    padding: 10px 30px;
    position: absolute;
    line-height: 30px;
    font-size:30px;
    margin: 0;
    font-weight: normal;
    font-family: "DINPro-Bold", Helvetica, sans-serif;
    text-transform: uppercase;
    box-sizing: border-box;
}

.tools {
    display: none;
	position: fixed;
	top:60px;
	left:440px;
	width:auto;
	float:left;
	padding:10px;
	background:#999;
	font-family:monospace;
	font-size:10px;
	line-height:20px;
}
.tools form{
    width:300px;
    position:relative;
}
.tools label{
	position:relative;
	width:300px;
	display:block;
}
input[type=text], input[type=date], input[type=submit], textarea, select, button{
	border:none;
	box-sizing:border-box;
	padding:5px 5px;
	display:block;
	width:300px;
	max-width:100%;
	-webkit-appearance:none;
	background:#fff;
	color:#000;
	border-radius:0;
	font-family:monospace;
	font-size:10px;
}
label.base{
    display: none;
}
fieldset#typology{
    width:100%;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}
fieldset#typology label{
    width:50%;
    float: left;
}
select[multiple] option[disabled]{
	display:none;
}
input[type=submit]{
	margin:20px 0 0 0;
}
.tools img.preview{
	max-width:100%;
	max-height:100px;
	width:auto;
	height:auto;
	display:block;
	margin:5px 0 0 0;
}
.palette{
	width:10%;
	float:left;
	height:20px;
}
.palette.main{
	width:40%;
}
#doc{
	background:#fff;
	display:block;
	left:10px;
	width:420px;
	height:600px;
}
.doc{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
	width:100%;
	height:100%;
}
#doc > .spinner{
    position: absolute;
    background:#fff;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#doc > .spinner .gif{
    background-image: url('images/spinner.gif');
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width:60px;
    height:60px;
    display: none;
}
input[type=file]{
    position: absolute;
    top:20px;
    opacity: 0;
}
#button_image{
    width:100%;
    background: #fff;
}
button#print{
    margin-top: 15px;
}
#printfile{
    position:absolute;
    left:10px;
    top:60px;
    width:300px;
    padding: 10px;
    background: #999;
    color:#000;
    overflow: auto;
}
#printfile pre{
    max-width: 100%;
}
@media screen{
    .ready .tools{
        display: block;
    }
}
@media screen and (min-width:1000px ){
    #doc{
        left:350px;
        right:350px;
        top:50px;
        bottom: 0;
        margin: auto;
    }
    .tools{
        position:absolute;
        right:10px;
        left:auto;
    }
}

@page{
	margin: 0mm;
}
@media print{
	.tools{
		display:none;
	}
	body{

	}
	#doc{
		width:100%;
		height:100%;
		position:relative;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	#printfile{
		position:relative;
		padding:40px;
		margin:100px 0 0 20px;
	}
}