@charset "UTF-8";

html,body{
	padding:0;
	margin:0;
	background:#666;
	width:100%;
	height:100%;
	min-height: 680px;
	position:relative;
}
.tools {
    display: none;
	position: fixed;
	top:50px;
	left:440px;
	width:auto;
	float:left;
	padding:10px;
	background:#999;
	font-family:monospace;
	font-size:10px;
	line-height:20px;
}
.tools label{
	position:relative;
	width:300px;
	display:block;
}
input, textarea, select, button{
	border:none;
	box-sizing:border-box;
	padding:5px 5px;
	display:block;
	width:300px;
	max-width:100%;
	-webkit-appearance:none;
	background:#fff;
	color:#000;
	border-radius:0;
	font-family:monospace;
	font-size:10px;
}
select[multiple] option[disabled]{
	display:none;
}
input[type=submit]{
	margin:20px 0 0 0;
}
.tools img.preview{
	max-width:100%;
	max-height:100px;
	width:auto;
	height:auto;
	display:block;
	margin:5px 0 0 0;
}
.palette{
	width:10%;
	float:left;
	height:20px;
}
.palette.main{
	width:40%;
}
#doc{
	background:#fff;
	display:block;
	left:10px;
	width:420px;
	height:600px;
}
.doc{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
	width:100%;
	height:100%;
}
#doc > .spinner{
    position: absolute;
    background:#fff;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#doc > .spinner .gif{
    background-image: url('images/spinner.gif');
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width:60px;
    height:60px;
    display: none;
}
input[type=file]{
    position: absolute;
    top:20px;
    opacity: 0;
}
#button_image{
    width:100%;
    background: #fff;
}
button#print{
    margin-top: 15px;
}
#printfile{
    position:absolute;
    left:10px;
    top:40px;
    width:320px;
    background: #fff;
    color:#000;
}
@media screen{
    .ready .tools{
        display: block;
    }
}
@media screen and (min-width:1000px ){
    #doc{
        left:350px;
        right:350px;
        top:0;
        bottom: 0;
        margin: auto;
    }
    .tools{
        position:absolute;
        right:20px;
        left:auto;
    }
}

@page{
	margin: 0mm;
}
@media print{
	.tools{
		display:none;
	}
	body{

	}
	#doc{
		width:100%;
		height:100%;
		position:relative;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	#printfile{
		position:relative;
		padding:40px;
		margin:100px 0 0 20px;
	}
}