<svg class="doc" version="2.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="420px" height="600px" viewBox="0 0 420 600" enable-background="new 0 0 420 600" xml:space="preserve">

<% fillImageTo(420,600) %>

<defs>
    <pattern id="image_pattern" patternUnits="userSpaceOnUse" x="0" y="0"  width="420" height="600">
        <image xlink:href="<%= image.url %>" x="<%= image.d.x %>" y="<%= image.d.y %>" width="<%= image.d.width %>" height="<%= image.d.height %>" />
    </pattern>

    <g id="titles" fill="#fff">
        <g id="title1">
            <text text-anchor="end" y="-30" font-size="38" letter-spacing="2"><%= get('title1') %></text>
        </g>
        <g id="title2">
            <text text-anchor="end"><%= get('title2') %></text>
        </g>
        <g id="date">
            <text y="16" font-size="20"><%= date('dddd dd mmm yyyy') %></text>
        </g>
        <g id="details">
            <text><% var tspanIndex = 0;
                        detailsSplit = split('details','\n');
                detailsSplit.each(function(words){
                tspanIndex++;
                y = tspanIndex*20-detailsSplit.size()*20-10
                %><tspan x="-200" y="<%= y %>"><%= words %></tspan><% }) %></text>
        </g>
    </g>

</defs>

<g id="image">
	<rect x="0" y="0" fill="url(#image_pattern)" width="420" height="600"/>
</g>

<g id="signe">
    <image xlink:href="images/arty-graphic.png" width="420" height="594" />
</g>

<use x="0" y="0" xlink:href="#title1" transform="translate(210 140)" />
<use x="0" y="0" xlink:href="#title1" transform="translate(210 140) scale(1,-1) " />
<use x="0" y="0" xlink:href="#title1" transform="translate(210 140) scale(-1,-1) " />
<use x="0" y="0" xlink:href="#title1" transform="translate(210 140) scale(-1,1) " />

<use xlink:href="#date" transform="translate(40 280)"/>
<use xlink:href="#date" transform="translate(40 280) scale(1,-1)"/>

<use xlink:href="#details" transform="translate(210 420)"/>
<use xlink:href="#details" transform="translate(210 420) scale(1,-1)"/>
<use xlink:href="#details" transform="translate(210 420) scale(-1,-1)"/>
<use xlink:href="#details" transform="translate(210 420) scale(-1,1)"/>

</svg>
