<svg class="doc" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="420px" height="600px" viewBox="0 0 420 600" enable-background="new 0 0 420 600" xml:space="preserve">
</svg>
<div class="doc">
    <div class="title1"><%= get('title1') %></div>
    <div class="title2"><%= get('title2') %></div>
    <div class="address"><%= get('address') %></div>
    <div class="date"><%= date() %></div>
    <div class="details"><%= get('details') %></div>
    <img src="<%= image.url %>" style="max-width:100%; max-height:100%; height:auto;"/>
</div>