<svg class="doc" version="2.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="420px" height="600px" viewBox="0 0 420 600" enable-background="new 0 0 420 600" xml:space="preserve">

<% fillImageTo(420,400) %>

<defs>
    <pattern id="image_pattern" patternUnits="userSpaceOnUse" x="0" y="400"  width="420" height="400">
        <image xlink:href="<%= image.url %>" x="<%= image.d.x %>" y="<%= image.d.y %>" width="<%= image.d.width %>" height="<%= image.d.height %>" />
    </pattern>
    
    
</defs>

    <g transform="translate(0 0)" width="420" height="420">
        <text x="180" y="400" font-size="400" fill="url(#image_pattern)" font-style="italic" text-anchor="middle"><%= get('title1').charAt(0).toUpperCase() %></text>
    </g>

    <g id="titles">

        <g transform="translate(210,570)">
            <g id="title1" transform="translate(0 0)" width="300" height="37">
                <text text-anchor="middle" fill="#000" font-size="6" letter-spacing="2"><%= get('title1').toUpperCase() %></text>
            </g>
            <g id="date" transform="translate(0 8)">
                <text text-anchor="middle" fill="#000" font-size="6"><%= date('dddd dd mmmm yyyy').toLowerCase() %></text>
            </g>
            <g id="details" transform="translate(0 16)">
                <text text-anchor="middle" fill="#000" font-size="6"><%= get('details') %></text>
            </g>
        </g>

    </g>

    <g id="signe">
        <path fill="none" stroke="#000000" stroke-width="1" d="M 0 200 l 420 0 l -210 362 l -210 -363 Z"/>210 363
    </g>

</svg>
